
.top{
    width: 100vw;
    height: 20vh;
    background-color:#e2e2e2;
    float: left;
}
.bottom{
    width: 100vw;
    height: 78vh;
    background-color:red;
    float: left;
}
.menuIcons{
    width: 30%;
    height:100%;
    background-color: #e2e2e2;
    float: left;
}
.detalles{
    width: 70%;
    height: 100%;
    background-color: #f5f5f5;
    
}