*{
    padding: 0px;
    margin:0px;
    font-family: 'Open Sans', sans-serif;
}
.detalles{
    display: inline-block;
}
.tabla{
    display: table;
    
}
.tabla 			      { 
    border-spacing: 1; 
    border-collapse: collapse; 
    background:white;
    border-radius:5px;
    overflow:hidden;
    max-width:800px; 
    width:100%;
    margin:0 auto;
    position:relative;
    text-align:center;
    font-size:20px;
    
  }
  
  .tabla th        { 
    height:40px;
    background:#22b2a9;
    
  }
  
  