.detalles2{
    overflow-x:scroll;
    height:80%;
    overflow-x: auto;
    display: flex;
    color:white;
}
.detalles h1{
    display: block;
    padding-left:5%;
    padding-top:4%;
}
.contenido{
    width:30%;
    height:95%;
    background-color:red;
    float: left;
    flex-shrink: 0;
    margin-left:5%;
}
.calendario{
    background-color:#833aaa;
}
.contenido h3,
.contenido h4{
    display: block;
}
.producto{
    background-color: #e98b36;
}
.favor{
    background-color: #22b2a9;
}
.contenido h3,
.contenido .fecha,
.contenido .desc,
.contenido .lugar{
    padding-left:5px;
    padding-top:2%;
    border-bottom:1px solid white;
}
.contenido h3{   
    padding-bottom:18%;
}
.contenido .fecha{
    padding-top:5%;
    padding-bottom:5%;
}
.contenido .desc{
    width:99%;
    min-height:40%;
    max-height:45%;
}
.contenido .lugar{
    padding-top:5%;
    padding-bottom:5%;
}
.calendario .desc{
    width:99%;
    min-height:35%;
    max-height:35%;
}
.producto h3 {
    padding-bottom:5%;
}